/* #Mobile (Portrait) */
@media only screen and (max-width: 479px) {
	.module-title img {
		float: left;
	}
	
	.profile-link {
		display: none;
	}
	
	/* Data entry screen */
	.week-commencing .date-control {
		display:block;
	}
}